/* colors
#DAA520 Yellow
#00008B Blue
#FFFAFA White
#006400 green
*/

*{
    margin: 0;
}
body{
    background-color:#FFFAFA ;
}
.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 28vh 100vh 15vh;
    grid-template-areas:    'header '
                            'main '
                            'footer';
}

header{
    grid-area: header;
    background-color:#DAA520;
}

main{
    grid-area: main;
    
}

footer{
    grid-area: footer;
    background-color:#00008B ;
}

.logo{
    display: flex;
    justify-content: center;
}

header a{
    margin-right: 100px;
    margin-left: 100px;
    text-decoration: none;
    font-size: 20px;
    color: #00008B;
   
}

header a:hover{
    color:#FFFAFA;
}

.links{
    display: flex;
    justify-content: center;
}

.textoPrin{
    margin: auto;
    width: 960px;

}
.titulo{
    margin-top: 50px;
    text-align: center;
}
.conteudo{
    margin-top: 50px;
    
}

.imgPrin{
    float: left;
}

.text1{
    margin-left: 10px;
    
}
main p{
    font-size: 16px;
}